# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - master
    - releases/*
  tags:
    include:
    - v*

pool:
  vmImage: 'Ubuntu 18.04'

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 3.1'
  inputs:
    packageType: sdk
    version: 3.1.x
    installationPath: $(Agent.ToolsDirectory)/dotnet

- script: |
    dotnet publish ./src/server/ --configuration $(buildConfiguration) --output $BUILD_ARTIFACTSTAGINGDIRECTORY/win_x64 --self-contained true -r win-x64
  failOnStderr: true
  displayName: Build Win x64

- script: |
    dotnet publish ./src/server/ --configuration $(buildConfiguration) --output $BUILD_ARTIFACTSTAGINGDIRECTORY/linux_x64 --self-contained true -r linux-x64
  failOnStderr: true
  displayName: Build Linux x64

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)/win_x64'
    artifactName: 'win_x64'
  displayName: Publish Win x64 artifacts

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)/linux_x64'
    artifactName: 'linux_x64'
  displayName: Publish Linux x64 artifacts

- task: GithubRelease@0 
  displayName: 'Attach Linux x64 artifacts to GitHub Release'   
  condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/v')
  inputs:
    gitHubConnection: github.com_DanielOliver
    repositoryName: DanielOliver/mssql_exporter           
    assets: $(Build.ArtifactStagingDirectory)/linux_x64
    action: edit
    target: '$(Build.SourceVersion)'
    addChangeLog: true

- task: GithubRelease@0 
  displayName: 'Attach Win x64 artifacts to GitHub Release'   
  condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/v')
  inputs:
    gitHubConnection: github.com_DanielOliver
    repositoryName: DanielOliver/mssql_exporter           
    assets: $(Build.ArtifactStagingDirectory)/win_x64
    action: edit
    target: '$(Build.SourceVersion)'
    addChangeLog: true